<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} &middot; A Toolkit Component</title>
    <!-- this is a Toolkit component. Learn more at http://github.com/assemble/toolkit -->
    <!-- webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.css">
    {{#if page.stylesheet}}<link rel="stylesheet" href="{{assets}}/css/{{ page.stylesheet }}">{{/if}}
    <link rel="stylesheet" href="{{assets}}/js/prettify/prettify.css">
  </head>
  <body>

    <!-- navbar
    ========================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#page.left-links}}
                <li class="{{active}}"><a href="{{href}}">{{text}}</a></li>
              {{/page.left-links}}
            </ul>
            <ul class="nav pull-right">
              {{#page.right-links}}
                <li class="{{active}}"><a href="{{href}}">{{text}}</a></li>
              {{/page.right-links}}
            </ul>
          </div>{{! /nav-collapse }}
        </div>
      </div>
    </div>

    {{> body }}


    <!-- javascript
    ================================================== -->
    <script src="{{assets}}/js/prettify/prettify.js"></script>
    <script src="{{assets}}/js/jquery.js"></script>
    <script src="{{assets}}/js/bootstrap-collapse.js"></script>

    <!-- simple quickfix for more than one accordion group to stay open at a time -->
    <script>
      $(function() {
        $('.accordion').on('show', function(e) {
          $(e.target).prev('.accordion-heading').find('.accordion-toggle').addClass('active');
        });

        $('.accordion').on('hide', function(e) {
          $(this).find('.accordion-toggle').not($(e.target)).removeClass('active');
        });
      });
   </script>

  </body>
</html>
